<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
	
	<listeners>
		<listener class-name="shady.TestComponents.Listeners"></listener>
	</listeners>
  
  <test thread-count="5" name = "Error Validation Tests">
	  <classes>
		  <class name="shady.tests.ErrorValidationTests"/>
	  </classes>  
	  
  </test> 
  
  <test thread-count="5" name = "Submit Order Tests">
	  <classes>
		  <class name="shady.tests.SubmitOrderTests"/>
	  </classes>  
  </test> 
    
</suite> <!-- Suite -->
